.header-main {
    background-color: rgba(13, 17, 23, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid var(--border-color);
    padding: 1.25rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-main .navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease;
    cursor: default;
  /* Añadimos un pequeño margen en móvil para separarlo del botón */
    margin-bottom: 0.75rem; 
}


.header-main .navbar-brand:hover {
    color: #B9BBBE;
}

@media (min-width: 768px) {
    .header-main .navbar-brand {
    margin-bottom: 0;
        padding-left: 1rem;
    }
}

@media (max-width: 430px) {
    .header-main .navbar-brand {
    padding-left: 1rem;
    font-size: 1.5rem;
    }
}

